# Dependencies
node_modules/

# Build output
dist/

# env files
.env

# tests outputs
reports/

# Temporary Lighthouse CI config
.lighthouserc.temp.cjs

# Lighhouseci report temp files
.lighthouseci/
.DS_Store
.user_data/

# Browser files
storageState.json